@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/inter.woff2') format('woff2');
}

@font-face {
  font-family: '"Architects Daughter", cursive';
  font-weight: 400;
  src: url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap') format('woff2');
}

body {
  font-family: 'Inter';
  background-image: url("/assets/mainbg.svg");
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  min-height: 100vh;
}

div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
section {
  font-family: 'Inter';
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 16px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 16px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffbd41;
}



@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.page-container {
  background-image: url('/assets/bgregister.svg');
  background-size: contain;
  background-repeat: repeat-y;
  background-color: rgba(255, 255, 255, 0.3);
  /* White with 50% opacity */
  background-blend-mode: multiply;
  /* Controls how the background color and image blend */
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

.hackathon-container {
  background-image: url('/assets/bg_hackathon.svg');
  background-size: cover;
  background-repeat: repeat-y;
  background-color: rgba(255, 255, 255, 0.3);
  /* White with 50% opacity */
  background-blend-mode: multiply;
  /* Controls how the background color and image blend */
  min-height: 100vh;
  min-height: 100dvh;
  position: relative;
}

.bgstat {

  height: 200px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.bgimg1 {
  background-image: url('/assets/clipcounter1.png');
}

.bgimg2 {
  background-image: url('/assets/clipcounter2.png');
}

.bgimg3 {
  background-image: url('/assets/clipcounter3.png');
}

.bgimg4 {
  background-image: url('/assets/clipcounter4.png');
}

.zm-container {
  max-width: 1200px;
  margin: 0 auto;
}

.content-card img {
  background-color: #242426;
  height: 32px;
  width: 32px;
}

.content-card svg {
  width: 1rem;
  height: 1rem;
  color: #fff;
  margin-top: 5px;
}

.subscribe {
  color: rgba(255, 255, 255, 0.64);
  background-color: rgba(255, 255, 255, 0.08);
  border-color: transparent;
  border-radius: calc(1.75rem + 2 * 1px);
  border: 1px solid;
  padding: 5px 5px;
}

.fest-button {
  padding: 0.4375rem 0.625rem;
  height: calc(1.75rem + 2 * 1px);
  size: 0.375rem;
  gap: 0.375rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.875rem;
  width: fit-content;
}

.divider-border-color {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.backg-light {
  background-color: rgba(255, 255, 255, 0.08);
}

.tint-color {
  color: hsla(0, 0%, 100%, .79)
}

.avatar {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1000px;
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url('/avatar_17.png');
}

.visi-pill {
  background: #4286f2;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
  display: inline-flex;
  align-items: center;
  gap: 0.375rem;
  padding: 0.1875rem 0.625rem 0.1875rem 0.5rem;
  margin-bottom: 0.375rem;
  border-radius: 0.25rem;
}

.sm-svg svg {
  width: 0.875rem;
  height: 0.875rem;
}


.textxs {
  font-size: 0.5rem;
}

.translate-calendar {
  transform: translateY(-1px);
}

.base-11-card {
  padding: 0.75rem 1rem;
}

.base-card-header {
  background-color: rgba(255, 255, 255, 0.08);
  margin: calc(-0.75rem + 1px) calc(-1rem + 1px);
  padding: calc(0.5rem - 1px) calc(1rem - 1px);
  margin-bottom: 0.75rem;
  border-top-right-radius: calc(0.75rem - 2px);
  border-top-left-radius: calc(0.75rem - 2px)
}

.info-row {
  margin: -0.5rem -1rem 0.25rem -1rem;
  padding: 0.5rem 1rem 0.75rem 1rem;
  border-bottom: 1px solid rgba(25, 2, 59, 0.08);
}


input[type='number'] {
  -moz-appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.gdg-img {
  width: 50px;
}

.reg-cards {
  background-color: rgba(25, 2, 59, 0.16);
  border: 1px solid rgba(25, 2, 59, 0.08);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .15);
}

.collapsetext span {
  padding: 0px 0.75rem;
  text-align: left;
}

.collapsetext svg {
  color: rgb(156 163 175/1)
}

.data-table div {
  background: none;
  color: hsla(0, 0%, 100%, .79);
  border-color: rgb(17 24 39 / 1);
  font-family: 'Inter';
  font-size: 0.9rem;
}

.data-table .ant-table-wrapper .ant-pagination .ant-pagination-item {
  background: rgb(31 41 55 / 1);
  color: white;
  border: 1px solid hsla(0, 0%, 100%, .79);
}

.data-table .ant-pagination .ant-pagination-item.ant-pagination-item-active {
  background-color: rgb(55 65 81 / 1);
}

.data-table .ant-table-wrapper .ant-pagination .ant-pagination-item a {
  color: white;
}

.data-table .ant-table-wrapper .ant-pagination .ant-pagination-item-link .anticon svg {
  fill: white;
}

.data-table .ant-table-wrapper .ant-pagination .ant-pagination-item.ant-select-selector {
  background: rgb(55 65 81 / 1);
  color: white;
}

.data-table .rc-virtual-list-holder-inner {
  background: rgb(55 65 81 / 1);
  border-radius: 0.5rem;
  padding: 5px;
}

.data-table .ant-select-item.ant-select-item-option-active {
  background-color: rgb(31 41 55 / 1);
}

.data-table .ant-table-wrapper .ant-pagination .ant-pagination-item-ellipsis {
  color: white;
}

.layout aside nav div {
  background: none;
}

.marque-content {
  display: inline-block;
  white-space: nowrap;
  -webkit-animation: marqueanimation 30s linear infinite;
  animation: marqueanimation 30s linear infinite;
}

.data-table .ant-table-wrapper .ant-table-cell,
.data-table .ant-table.ant-table-empty,
.data-table table th {
  background: none;
  color: white;
}

.data-table .ant-table-wrapper .ant-table-tbody>tr.ant-table-placeholder {
  display: none;
}

.data-table .ant-table-wrapper .ant-table {
  background: none;
}

.data-table .ant-table .ant-table-cell.ant-table-cell-row-hover {
  background-color: rgb(55 65 81 / 1)
}

.data-table .ant-table .ant-table-row.ant-table-row-selected .ant-table-cell {
  background-color: rgb(55 65 81 / 1)
}

.data-table .ant-tag.ant-tag-has-color {
  font-weight: bold;
  color: white;
}

@keyframes marqueanimation {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-100%);
  }
}


/*BG WEB*/
.absolute-bg {
  position: absolute;
  top: 140px !important;
  inset: 0;
  justify-content: center;
  display: inline-flex;
}

.bg-shape1 {
  width: 300px;
  height: 300px;
  border-radius: 9999px;
  position: relative;
  animation: ball-animation-one 10s infinite;
}

.bg-shape2 {
  width: 200px;
  height: 200px;
  border-radius: 9999px;
  position: relative;
  animation: ball-animation-two 10s infinite;
}

.bg-blur {
  filter: blur(110px);
}

@media (max-width: 768px) {
  .absolute-bg {
    top: 50px !important;
  }
}

@keyframes ball-animation-one {
  0% {
    left: -100px;
    top: 0;
  }

  25% {
    left: -130px;
    top: 80px;
  }

  50% {
    left: 40px;
    top: 200px;
  }

  75% {
    left: -30px;
    top: 300px;
  }

  100% {
    left: 0;
    top: 0;
  }
}

@keyframes ball-animation-two {
  0% {
    left: 100px;
    top: 0;
  }

  25% {
    left: 40px;
    top: 200px;
  }

  50% {
    left: 130px;
    top: 80px;
  }

  75% {
    left: 30px;
    top: 100px;
  }

  100% {
    left: 0;
    top: 0;
  }
}


.img-carousel {
  height: 150px;
  width: 100%;
}

.social-btns {
  font-size: 0;
  text-align: center;
  width: 30px;
}

/*QR Model and QR Style*/
.data-table .custom-modal-overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(31 41 55 / 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  border-radius: 8px;
  border: 1px solid #fff;
}

.custom-modal {
  background: #fff;
  border-radius: 8px;
  width: 300px;
  max-width: 90%;
  padding: 20px;
  position: relative;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-body {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.close-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.job-select .ant-select .ant-select-selector {
  border-color: rgb(17 24 39 / 1);
  background-color: rgb(55 65 81 / 1);
  padding: 6px;
}

.job-select .ant-select .ant-select-selector .ant-select-selection-placeholder {
  color: white;
}

.data-table .ant-select .ant-select-selector {
  border-color: rgb(17 24 39 / 1);
  background-color: rgb(55 65 81 / 1);
  padding: 6px;
}

.data-table .ant-select .ant-select-selector .ant-select-selection-placeholder {
  color: white;
}

.ant-select-dropdown {
  background: rgb(55 65 81 / 1) !important;
}

.ant-select-dropdown .ant-select-item {
  color: white !important;
  font-family: 'Inter' !important;
}

.ant-select-dropdown .ant-select-item-option-selected {
  background-color: rgb(31 41 55 / 1) !important
}

.data-table .ant-select .ant-select-selection-overflow .ant-select-selection-item {
  background-color: rgb(31 41 55 / 1) !important
}

.data-table .ant-select .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-remove svg {
  fill: white !important;
}

.data-table .ant-select .ant-select-arrow svg{
  fill: white !important;
}

/*jobe role styling*/
.job-role .ant-select .ant-select-selector {
  border-color: rgb(30 41 59 / 1);
  background-color: rgb(30 41 59 / 1);
  padding: 6px;
  color: white;
  height: 55px;
  border: 1px solid white;
  padding-left: 10px;
}

.job-role .ant-select {
  height: 55px !important;
}

.job-role .ant-select .ant-select-selector .ant-select-selection-placeholder {
  color: #606876;
}

.job-role .ant-select-dropdown {
  background: rgb(30 41 59 / 1) !important;
}

.job-role .ant-select-dropdown .ant-select-item {
  color: white !important;
  font-family: 'Inter' !important;
}

.job-role .ant-select-dropdown .ant-select-item-option-selected {
  background-color: rgb(30 41 59 / 1) !important
}

.job-role .ant-select .ant-select-selection-overflow .ant-select-selection-item {
  background-color: rgb(30 41 59 / 1) !important;
  padding: 10px !important;
}

.job-role .ant-select .ant-select-selection-overflow .ant-select-selection-item .ant-select-selection-item-remove svg {
  fill: white !important;
}

.job-role .ant-select .ant-select-arrow svg{
  fill: white !important;
}

/* FAQ */
.faq-accordion>.ant-collapse {
  font-size: 18px;
  font-weight: 600;
}

.faq-accordion>.ant-collapse .ant-collapse-item {
  border-bottom: 4px solid #242426;
  padding-block: 5px;
}

.faq-accordion .ant-collapse .ant-collapse-content {
  font-weight: 400;
}


/* badgemaker style */
.container {
  display: grid;
  place-items: center;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  max-width: 500px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 1em;
}

.dropzone {
  border: 2px dashed #ccc;
  background-color: #f9f9f9;
  color: #777;
  padding: 20px;
  cursor: pointer;
}

.image-container {
  margin-top: 20px;
  position: relative;
  width: 100%;
  /* Full width on smaller screens */
  max-width: 500px;
  /* Limited width on larger screens */
  height: 0;
  padding-bottom: 100%;
  /* 1:1 aspect ratio (square) */
  overflow: hidden;
  border-radius: 50%;
  /* Make it a circle */
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Add media queries for responsiveness */
@media (min-width: 768px) {
  .container {
    padding: 2em;
  }

  .image-container {
    margin-top: 40px;
  }
}

/* ProfileBadge.css */
/* CSS styles for the badge and headshot */

.logo_container {
  width: 300px;
  height: 150px;
}

.logo_container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay img {
  max-width: 100%;
}

.action-btn {
  width: 100%;
  color: #fff;
  cursor: pointer;
  max-width: 100%;
  margin-top: 2em;
  font-size: 1rem;
  border-radius: 8px;
  padding: 1em 0.5em;
  font-weight: bolder;
  background-color: var(--primary);
  border: 1px solid transparent;
  transition: border-color 0.25s;
}

.action-btn:hover {
  border-color: #4b4b4b;
}

.action-btn:focus,
.action-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.action-btn.success {
  background-color: dodgerblue;
}

dialog {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  place-items: center;
  padding: 20px;
}

dialog .content {
  position: relative;
  background-color: white;
  padding: 20px;
  width: 100%;
  height: 100%;
  max-width: 800px;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: scroll;
}

dialog .close {
  cursor: pointer;
  background-color: #DD0031;
  padding: 6px;
  outline: none;
  border: none;
  font-weight: 900;
  border-radius: 8px;
}

.action-items {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#dialog {
  z-index: 999 !important;
}


.bwai-text {
  @apply bg-gradient-to-r from-[#F2D9FF] via-[#C6AAFF] to-[#CE8BFF] bg-clip-text text-transparent;
}
